	.container {
	    width: 500px;
	    margin-left: auto;
	    margin-right: auto;
	    padding: 20px;
	    padding-bottom: 30px;
	    text-align: center;
	}

	.title {
	    font-family: 'Pacifico', cursive;
	    color: #212529;
	    font-size: 2.5rem;
	    text-align: center;

	    margin-bottom: 20px;
	}